services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - internal

  api:
    build: ../backend
    restart: unless-stopped
    env_file:
      - .env.prod
    environment:
      - PORT=3000
    depends_on:
      - mongo
    labels:
      - "traefik.enable=true"

      # HTTPS router
      - "traefik.http.routers.myrealtor-api.rule=Host(`apimyrealtor.nodesafe.cloud`)"
      - "traefik.http.routers.myrealtor-api.entrypoints=websecure"
      - "traefik.http.routers.myrealtor-api.tls=true"
      - "traefik.http.routers.myrealtor-api.tls.certresolver=CERTRESOLVER_NAME"
      - "traefik.http.services.myrealtor-api.loadbalancer.server.port=3000"
    networks:
      - internal
      - traefik

  frontend:
    build:
      context: ../frontend
      args:
        - VITE_API_URL=https://apimyrealtor.nodesafe.cloud
    restart: unless-stopped
    labels:
      - "traefik.enable=true"

      # HTTPS router
      - "traefik.http.routers.myrealtor-web.rule=Host(`myrealtor.nodesafe.cloud`)"
      - "traefik.http.routers.myrealtor-web.entrypoints=websecure"
      - "traefik.http.routers.myrealtor-web.tls=true"
      - "traefik.http.routers.myrealtor-web.tls.certresolver=CERTRESOLVER_NAME"
      - "traefik.http.services.myrealtor-web.loadbalancer.server.port=80"
    networks:
      - traefik

volumes:
  mongo_data:

networks:
  internal:
    driver: bridge
  traefik:
    external: true
    name: root_default
